<div [ngClass]="{ 'dark-theme': isDarkMode, 'light-theme': !isDarkMode }">
  <div class="register-wrapper w-75 mt-3 container rounded-4 pwd-container shadow">
    <h2 class="justify-content-center d-flex">Odzyskaj hasło</h2>

    <div *ngIf="loading" class="d-flex flex-column align-items-center my-3 py-5">
      <mat-spinner diameter="50" color="accent"></mat-spinner>
      <p class="mt-2">Wysyłanie e-maila...</p>
    </div>

    <div *ngIf="!loading && successMessage" class="alert alert-success text-center mt-3">
      {{ successMessage }}
    </div>

    <div *ngIf="!loading && errorMessage" class="alert alert-danger text-center mt-3">
      {{ errorMessage }}
    </div>

    <form [formGroup]="passwdRecoveryForm" (ngSubmit)="onPasswordRecover()">
      <div class="justify-content-center d-flex">
        <mat-form-field color="accent" class="w-75" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="controls.email">
          <mat-error *ngIf="controls.email.invalid">{{ getErrorMessage(controls.email) }}</mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-end">
        <button class="bg-primary m-2" type="submit" mat-raised-button [disabled]="controls.email.invalid || loading">
          Odzyskaj hasło
        </button>
      </div>
    </form>
  </div>
</div>
