<div [ngClass]="{ 'dark-theme': isDarkMode, 'light-theme': !isDarkMode }">
  <div class="container-fluid mt-3 p-4 main-container">
    <div class="row g-4">
      <div class="col-12 col-md-6">
        <div class="rounded shadow check-container p-4">
          <h5 *ngIf="teamInfo" class="team-info-title">
            Sprawdzana drużyna:
            <div *ngFor="let key of objectKeys(teamInfo)">
              <span class="info-item">{{ key }}: <strong>{{ teamInfo[key] }}</strong></span>
            </div>
            <span class="info-item">ID zgłoszenia: <strong>{{ requestId }}</strong></span>
          </h5>

          <div *ngIf="showCountryForm" class="form-section">
            <h3>Wprowadź nazwę kraju</h3>
            <form [formGroup]="countryForm" (ngSubmit)="submitCountryForm()" class="form-group">
              <label for="countryName">Kraj:</label>
              <input id="countryName" formControlName="countryName" class="form-control"/>
              <button type="submit" [disabled]="countryForm.invalid" class="btn btn-primary mt-3">Szukaj</button>
            </form>
          </div>

          <div *ngIf="showLeagueList" class="league-list-section">
            <div class="d-flex justify-content-between">
              <h3>Dostępne ligi</h3>
              <button class="btn" (click)="backToCountry(showCountryForm, showLeagueList)">
                <h5>&lt;</h5>
              </button>
            </div>
            <ul class="list-group">
              <li *ngFor="let league of availableLeagues" class="list-group-item">
                <span>{{ league.name }}</span>
                <button (click)="selectLeagueAndSubmit(league)" class="btn btn-outline-primary btn-sm float-end">
                  Wybierz
                </button>
              </li>
            </ul>
          </div>

          <div *ngIf="showTeamList" class="team-list-section">
            <div class="d-flex justify-content-between">
              <h3>Wybierz drużynę</h3>
              <button (click)="backToLeagues(showLeagueList, showTeamList)" class="btn">
                <h5>&lt;</h5>
              </button>
            </div>
            <ul class="list-group">
              <li *ngFor="let team of availableTeams" class="list-group-item">
                <span>{{ team.name }}</span>
                <button (click)="selectTeamAndSubmit(team)" class="btn btn-outline-primary btn-sm float-end">Wybierz
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="showFeedback" class="feedback mt-3">
          <p class="alert alert-info">{{ feedbackMessage }}</p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div *ngIf="isSubmitting"
             class="d-flex rounded bg-transparent bg-opacity-10 bg-gradient flex-column align-items-center my-3 py-5">
          <mat-spinner diameter="50" color="accent"></mat-spinner>
          <p class="mt-2">Trwa zbieranie danych. Może to potrwac kilka minut.</p>
        </div>
        <div *ngIf="!isSubmitting" class="rounded shadow new-container p-4">
          <form [formGroup]="newLeagueForm" (ngSubmit)="submitNewLeague()" class="form-group">
            <h3>Tworzenie nowej ligi</h3>
            <label for="season">Sezon:</label>
            <input id="season" formControlName="season" type="number" class="form-control"/>
            <label for="leagueId" class="mt-3">ID Ligi:</label>
            <input id="leagueId" formControlName="leagueId" type="number" class="form-control"/>
            <button type="submit" [disabled]="newLeagueForm.invalid" class="btn btn-success mt-4">Utwórz ligę</button>
          </form>
          <div *ngIf="showFeedbackLeague" class="feedback mt-3">
            <p class="alert alert-info">{{ feedbackLeagueMessage }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
