<div class="team-container w-50 justify-content-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="team-form">
    <label for="teamName">Nazwa drużyny:</label>
    <input id="teamName" formControlName="teamName" required />
    <button type="submit">Pobierz statystyki</button>
  </form>

  <div *ngIf="dataSource" class="mt-4">
    <input (keyup)="applyFilter($event)" placeholder="Filtruj graczy">

    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef>Gracz</th>
          <td mat-cell *matCellDef="let player">{{ player.player }}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Pozycja</th>
          <td mat-cell *matCellDef="let player">{{ player.position }}</td>
        </ng-container>

        <ng-container matColumnDef="minutes">
          <th mat-header-cell *matHeaderCellDef>Minuty</th>
          <td mat-cell *matCellDef="let player">{{ player.minutes }}</td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Ocena</th>
          <td mat-cell *matCellDef="let player">{{ player.rating }}</td>
        </ng-container>

        <ng-container matColumnDef="offsides">
          <th mat-header-cell *matHeaderCellDef>Spalone</th>
          <td mat-cell *matCellDef="let player">{{ player.offsides }}</td>
        </ng-container>

        <ng-container matColumnDef="shotsTotal">
          <th mat-header-cell *matHeaderCellDef>Strzały</th>
          <td mat-cell *matCellDef="let player">{{ player.shotsTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="shotsOnGoal">
          <th mat-header-cell *matHeaderCellDef>Strzały na bramkę</th>
          <td mat-cell *matCellDef="let player">{{ player.shotsOnGoal }}</td>
        </ng-container>

        <ng-container matColumnDef="goalsTotal">
          <th mat-header-cell *matHeaderCellDef>Gole</th>
          <td mat-cell *matCellDef="let player">{{ player.goalsTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="goalsConceded">
          <th mat-header-cell *matHeaderCellDef>Gole stracone</th>
          <td mat-cell *matCellDef="let player">{{ player.goalsConceded }}</td>
        </ng-container>

        <ng-container matColumnDef="assists">
          <th mat-header-cell *matHeaderCellDef>Asysty</th>
          <td mat-cell *matCellDef="let player">{{ player.assists }}</td>
        </ng-container>

        <ng-container matColumnDef="saves">
          <th mat-header-cell *matHeaderCellDef>Obrony</th>
          <td mat-cell *matCellDef="let player">{{ player.saves }}</td>
        </ng-container>

        <ng-container matColumnDef="passesTotal">
          <th mat-header-cell *matHeaderCellDef>Podania</th>
          <td mat-cell *matCellDef="let player">{{ player.passesTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="passesKey">
          <th mat-header-cell *matHeaderCellDef>Kluczowe podania</th>
          <td mat-cell *matCellDef="let player">{{ player.passesKey }}</td>
        </ng-container>

        <ng-container matColumnDef="passesAccuracy">
          <th mat-header-cell *matHeaderCellDef>Podania celne</th>
          <td mat-cell *matCellDef="let player">{{ player.passesAccuracy }}</td>
        </ng-container>

        <ng-container matColumnDef="tacklesTotal">
          <th mat-header-cell *matHeaderCellDef>Próby przejęć</th>
          <td mat-cell *matCellDef="let player">{{ player.tacklesTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="tacklesBlocks">
          <th mat-header-cell *matHeaderCellDef>Zablokowane akcje</th>
          <td mat-cell *matCellDef="let player">{{ player.tacklesBlocks }}</td>
        </ng-container>

        <ng-container matColumnDef="tacklesInterceptions">
          <th mat-header-cell *matHeaderCellDef>Przechwyty</th>
          <td mat-cell *matCellDef="let player">{{ player.tacklesInterceptions }}</td>
        </ng-container>

        <ng-container matColumnDef="duelsTotal">
          <th mat-header-cell *matHeaderCellDef>Pojedynki</th>
          <td mat-cell *matCellDef="let player">{{ player.duelsTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="duelsWon">
          <th mat-header-cell *matHeaderCellDef>Wygrane pojedynki</th>
          <td mat-cell *matCellDef="let player">{{ player.duelsWon }}</td>
        </ng-container>

        <ng-container matColumnDef="dribblesAttempts">
          <th mat-header-cell *matHeaderCellDef>Dryblingi</th>
          <td mat-cell *matCellDef="let player">{{ player.dribblesAttempts }}</td>
        </ng-container>

        <ng-container matColumnDef="dribblesSuccess">
          <th mat-header-cell *matHeaderCellDef>Udane dryblingi</th>
          <td mat-cell *matCellDef="let player">{{ player.dribblesSuccess }}</td>
        </ng-container>

        <ng-container matColumnDef="foulsDrawn">
          <th mat-header-cell *matHeaderCellDef>Faule na zawodniku</th>
          <td mat-cell *matCellDef="let player">{{ player.foulsDrawn }}</td>
        </ng-container>

        <ng-container matColumnDef="foulsCommitted">
          <th mat-header-cell *matHeaderCellDef>Faule</th>
          <td mat-cell *matCellDef="let player">{{ player.foulsCommitted }}</td>
        </ng-container>

        <ng-container matColumnDef="cardsYellow">
          <th mat-header-cell *matHeaderCellDef>Żółte kartki</th>
          <td mat-cell *matCellDef="let player">{{ player.cardsYellow }}</td>
        </ng-container>

        <ng-container matColumnDef="cardsRed">
          <th mat-header-cell *matHeaderCellDef>Czerowne kartki</th>
          <td mat-cell *matCellDef="let player">{{ player.cardsRed }}</td>
        </ng-container>

        <ng-container matColumnDef="penaltyWon">
          <th mat-header-cell *matHeaderCellDef>Wywalczone karne</th>
          <td mat-cell *matCellDef="let player">{{ player.penaltyWon }}</td>
        </ng-container>

        <ng-container matColumnDef="penaltyCommitted">
          <th mat-header-cell *matHeaderCellDef>Karne spowodowane</th>
          <td mat-cell *matCellDef="let player">{{ player.penaltyCommitted }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
