<div class="about-container" [ngClass]="{ 'dark-theme': isDarkMode }">
  <div class="content">
    <h1>O nas</h1>
    <p>
      Witaj w <strong>Football Analyzer</strong> – zaawansowanej platformie stworzonej z myślą o trenerach,
      którzy pragną wynieść swoje drużyny na wyższy poziom. Naszym celem jest dostarczanie szczegółowych analiz
      oraz wszechstronnych statystyk, które pomagają zrozumieć mocne i słabe strony zawodników oraz całego zespołu.
    </p>

    <h2>Jak to działa?</h2>
    <ol>
      <li><strong>Zbieranie Danych:</strong> Nasza platforma integruje dane z meczów, dostarczając szczegółowych
        informacji na temat każdej akcji i każdego zawodnika.
      </li>
      <li><strong>Analiza:</strong> Korzystając z nowoczesnych algorytmów i zaawansowanych metod analizy, przetwarzamy
        dane, aby dostarczyć Ci przejrzystych raportów i wykresów, które łatwo zinterpretować.
      </li>
      <li><strong>Optymalizacja Strategii:</strong> Z naszą pomocą możesz szybko dostrzec obszary wymagające poprawy
        oraz te, które warto rozwijać. Football Analyzer pozwala Ci tworzyć bardziej efektywne plany treningowe, a także
        przewidywać rozwój formy zawodników.
      </li>
    </ol>

    <h2>Dlaczego warto wybrać Football Analyzer?</h2>
    <p>
      Rozumiemy, jak istotne jest wsparcie trenera w dążeniu do sukcesów zespołu. Nasza platforma powstała z pasji do
      futbolu i technologii, łącząc wiedzę sportową z innowacyjnymi narzędziami analitycznymi. Football Analyzer pozwala
      Ci patrzeć na drużynę oczami danych – dzięki temu każdy trening i każdy mecz staje się krokiem w stronę osiągania
      ambitnych celów.
    </p>

    <p><em>Dołącz do nas i sprawdź, jak <strong>Football Analyzer</strong> może odmienić sposób, w jaki patrzysz na
      swoją drużynę!</em></p>
  </div>
</div>
