<div [ngClass]="{ 'dark-theme': isDarkMode, 'light-theme': !isDarkMode }">
  <div class="team-container">
    <div class="d-flex justify-content-center gap-4 logo">
      <div>
        <h2 *ngIf="teamStats">{{ teamStats.teamForm.team }}</h2>
      </div>
      <div *ngIf="logoUrl && teamStats">
        <img src="{{ logoUrl }}" alt="logo">
      </div>
    </div>

    <div class="form-toggle" *ngIf="teamStats">
      <button class="toggle-button" (click)="toggleForm()">
        {{ formVisible ? 'Ukryj formularz' : 'Pokaż formularz' }}
      </button>
    </div>

    <div class="main-content">

      <div *ngIf="formVisible && teamStats" class="form-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="team-form p-2 rounded shadow">
          <label for="startDate">Data początkowa:</label>
          <input id="startDate" type="date" formControlName="startDate" required/>

          <label for="endDate">Data końcowa:</label>
          <input id="endDate" type="date" formControlName="endDate" required/>

          <label for="rounding">Zaokrąglenie:</label>
          <select id="rounding" formControlName="rounding">
            <option value="week">Tydzień</option>
            <option value="month">Miesiąc</option>
          </select>

          <ng-container *ngIf="compareToAll">
            <label for="compareToAll">Porównaj z:</label>
            <select id="compareToAll" formControlName="compareToAll">
              <option [selected]="true" value="true">Wszystkimi</option>
              <option value="false">Twoją ligą</option>
            </select>
          </ng-container>

          <button class="toggle-button" type="submit">Pobierz statystyki</button>
        </form>
      </div>

      <div *ngIf="teamStats" [ngClass]="formVisible ? 'chart-container-with-form' : 'chart-container-no-form'">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ active: selectedChart === 'line' }" (click)="selectChart('line')">Wykres
              liniowy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ active: selectedChart === 'radar' }" (click)="selectChart('radar')">Wykres
              radarowy</a>
          </li>
        </ul>

        <div class="rounded shadow team-form">
          <ng-container *ngIf="selectedChart === 'line'">
            <app-team-chart [isDarkMode]="isDarkMode" [teamStats]="teamStats"></app-team-chart>
          </ng-container>

          <div *ngIf="selectedChart === 'radar'">
            <app-team-radar-chart [isDarkMode]="isDarkMode" [teamStats]="teamStats"></app-team-radar-chart>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="alertMessage" class="alert alert-warning text-center mt-3 opacity-75">
      {{ alertMessage }}
    </div>
  </div>
</div>
