<div class="container dark-theme">
  <h1>Przyszłe mecze</h1>
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Błąd połączenia.
      </div>
    </div>

    <div class="example-table-container">
      <table mat-table [dataSource]="data" class="example-table">
        <ng-container matColumnDef="matchDate">
          <th mat-header-cell *matHeaderCellDef>Data meczu</th>
          <td mat-cell *matCellDef="let row">{{ row.date | date: 'EEEE, d MMMM, y, H:mm': 'UTC+2': 'pl' }}</td>
        </ng-container>

        <ng-container matColumnDef="homeTeam">
          <th mat-header-cell *matHeaderCellDef>Gospodarze</th>
          <td mat-cell *matCellDef="let row">{{ row.homeTeam }}</td>
        </ng-container>

        <ng-container matColumnDef="awayTeam">
          <th mat-header-cell *matHeaderCellDef>Goście</th>
          <td mat-cell *matCellDef="let row">{{ row.awayTeam }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator class="mt-1" lang="pl" [length]="resultsLength" [pageSize]="10"
                   aria-label="Select page of future matches"></mat-paginator>
  </div>
</div>
