.dark-theme {
  color: #f6f4e9;

  .pwd-container {
    background-color: #1e1e1e;
  }
}

.light-theme {
  color: #3c3c3c;
  background-color: #e1e8f0;

  .pwd-container {
    background-color: #ffffff;
  }
}
