body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-mode {
  background-color: #e1e8f0;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

html, body {
  height: 100%;
}
