<div [ngClass]="{ 'dark-theme': isDarkMode, 'light-theme': !isDarkMode }">
  <div class="container-fluid row mt-1">
    <div class="col-12 col-md-12 main-content">
      <div class="d-flex justify-content-center">
        <mat-progress-spinner color="accent" mode="indeterminate" *ngIf="isSubmitting"></mat-progress-spinner>
        <div class="example-rate-limit-reached" *ngIf="showAlert">{{ alertMessage }}</div>
      </div>

      <div class="d-flex justify-content-between" *ngIf="!isSubmitting && dataSource">
          <h3>Wszystkie zgłoszenia</h3>
        <div class="d-flex justify-content-end gap-3">
          <button mat-raised-button class="button-new" (click)="onlyNewRequest()">{{ buttonFilter }}</button>
          <button mat-raised-button class="button-save" (click)="saveChanges()">Zapisz zmiany</button>
        </div>
      </div>
      <div class="example-table-container rounded shadow p-1">
        <div *ngIf="!isSubmitting && filteredDataSource">
          <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8" matSort
                 (matSortChange)="onSortChange($event)">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
              <td mat-cell *matCellDef="let element">{{ element.login }}</td>
            </ng-container>

            <ng-container matColumnDef="requestType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ zgłoszenia</th>
              <td mat-cell *matCellDef="let element">{{ element.requestType }}</td>
            </ng-container>

            <ng-container matColumnDef="requestStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">{{ element.requestStatus }}</td>
            </ng-container>

            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Data utworzenia</th>
              <td mat-cell *matCellDef="let element">{{ element.createDate.split(' ')[0] }}</td>
            </ng-container>

            <ng-container matColumnDef="requestData">
              <th mat-header-cell *matHeaderCellDef>Dane zgłoszenia</th>
              <td mat-cell *matCellDef="let element">
                <mat-expansion-panel class="request-data">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="request-data">
                      Rozwiń dane zgłoszenia
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let key of objectKeys(element.requestData)">
                    <p><strong>{{ key }}:</strong> {{ element.requestData[key] }}</p>
                  </div>
                  <a
                    routerLink="/admin/teams"
                    [state]="{ teamInfo: element.requestData, id: element.id }"
                    class="btn btn-secondary"
                    *ngIf="element.requestStatus === 'NOWE' && element.requestType === 'Nowa drużyna'"
                  >
                    Sprawdź
                  </a>

                  <a
                    routerLink="/admin/users"
                    [state]="{ requestInfo: element.requestData, login: element.login }"
                    class="btn btn-secondary"
                    *ngIf="element.requestStatus === 'NOWE' && element.requestType === 'Trener zajęty'"
                  >
                    Sprawdź
                  </a>
                </mat-expansion-panel>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Zmień status</th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex justify-content-center">
                  <button mat-raised-button class="button-handle" color="accent" (click)="changeStatus(element.id, 'ROZWIĄZANE')">Rozwiązane
                  </button>
                  <button mat-raised-button class="button-handle" color="primary" (click)="changeStatus(element.id, 'BRAK_ROZWIĄZANIA')">Brak
                    rozwiązania
                  </button>
                  <button mat-button class="button-handle" color="warn" (click)="deleteRequest(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-button class="button-handle" color="warn" (click)="rollbackStatus(element.id)">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
