<div [ngClass]="{ 'dark-theme': isDarkMode, 'light-theme': !isDarkMode }">
  <div class="main-content p-3 shadow rounded" *ngIf="user">
    <div *ngIf="isSubmitting"
         class="d-flex rounded bg-transparent bg-opacity-10 bg-gradient flex-column align-items-center my-3 py-5">
      <mat-spinner diameter="50" color="accent"></mat-spinner>
      <h4>Zmiana danych</h4>
    </div>
    <div *ngIf="!isEditing; else editMode">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h3>{{ user.firstName }} {{ user.lastName }}</h3>
          <p class="text-muted mb-0">Login: {{ user.login }}</p>
          <p class="text-muted mb-0">Email: {{ user.email }}</p>
          <p class="text-muted mb-0" *ngIf="user.teamName">Drużyna: {{ user.teamName }}</p>
        </div>
        <img *ngIf="logoUrl != null" src="{{ logoUrl }}" alt="logo" class="profile-logo">
      </div>
      <div class="col-md-6 d-flex align-items-center mb-3" *ngIf="user.hasPdf && !document">
        <button mat-flat-button color="accent" (click)="downloadFile()">Pobierz dokument</button>
        <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Dodaj nowy dokument</button>
        <input
          #fileInput
          hidden
          type="file"
          [formControl]="fileControl"
          (change)="onFileChange($event)"
          accept=".pdf">
      </div>
      <div *ngIf="!user.hasPdf && !document" class="col-md-6 d-flex align-items-center mb-3">
        <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Dodaj dokument</button>
        <input
          #fileInput
          hidden
          type="file"
          [formControl]="fileControl"
          (change)="onFileChange($event)"
          accept=".pdf">
      </div>
      <div class="col-md-6 d-flex align-items-center mb-3" *ngIf="document">
            <span *ngIf="fileControl.value" class="ms-2">
            {{ getFileName() }}</span>
        <button type="button" class="m-1" mat-raised-button color="warn" (click)="sendDocument()">Wyślij</button>
      </div>
      <div class="d-flex justify-content-end">
        <button mat-button class="text-primary" (click)="toggleEditMode()">Edytuj dane</button>
      </div>
    </div>

    <ng-template #editMode>
      <form *ngIf="!isSubmitting" [formGroup]="userForm" (ngSubmit)="saveUser()">
        <h4 class="mb-3">Edycja danych użytkownika</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Imię</mat-label>
              <input matInput [formControl]="controls.firstName">
              <mat-error *ngIf="controls.firstName.invalid">{{ getErrorMessage(controls.firstName) }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>Nazwisko</mat-label>
              <input matInput [formControl]="controls.lastName">
              <mat-error *ngIf="controls.lastName.invalid">{{ getErrorMessage(controls.lastName) }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>Login</mat-label>
              <input matInput [formControl]="controls.login">
              <mat-error *ngIf="controls.login.invalid">{{ getErrorMessage(controls.login) }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="controls.email">
              <mat-error *ngIf="controls.email.invalid">{{ getErrorMessage(controls.email) }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>Hasło</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput [formControl]="controls.password">
              <mat-error *ngIf="controls.password.invalid">{{ getErrorMessage(controls.password) }}</mat-error>
              <button type="button" (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'" [attr.aria-pressed]="hide"
                      mat-icon-button
                      matSuffix>
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>Rola</mat-label>
              <select matNativeControl required [formControl]="controls.roleId">
                <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.roleName }}</option>
              </select>
              <mat-error *ngIf="controls.roleId.invalid">{{ getErrorMessage(controls.roleId) }}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>Drużyna</mat-label>
              <select matNativeControl [formControl]="controls.teamId">
                <option *ngFor="let team of teams" [ngValue]="team.id">{{ team.name }}</option>
              </select>
              <mat-error *ngIf="controls.teamId.invalid">{{ getErrorMessage(controls.teamId) }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" mat-raised-button color="primary">Zapisz</button>
          <button mat-raised-button color="warn" class="ms-2" (click)="toggleEditMode()">Anuluj</button>
        </div>
      </form>
    </ng-template>
    <div class="d-flex justify-content-center" *ngIf="showAlert">
      <ng-container>
        <app-alert [text]="alertMessage"></app-alert>
      </ng-container>
    </div>
  </div>
</div>
